<h2 style="color: white;">rxjs-operator works!</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <strong style="color: white;">Ex-01</strong>
            <hr style="background-color: white;">
            <ul style="background-color: white;" id="elContainer" [ngStyle]="{ 'background' : myColor} ">
            </ul>
        </div>
        <div class="col-md-4 ">
            <strong style="color: white; ">Ex-02</strong>
            <hr style="background-color: white; ">
            <ul style="color: white; " id="elContainer2">
            </ul>
        </div>

    </div>
</div>