<!-- <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <img src="assets/images/IMG_9539.JPG" width="290px" height="200px" alt="">
            </div>
            <div class="card-body">
                UserName : {{userName}}
                <hr> FirstName : {{firstname}}

                <hr>
            
                LastName: {{lastname}}

                <hr> Email : {{email}}
            </div>
        </div>
    </div>
</div> -->


<br>
<br>
<br>
<h2 style="text-align:center;color: white;">User Profile Card</h2>

<div class="card mt-2">
    <img src="assets/images/IMG_1118.jpg" height="250px" width="300px" alt="John" style="width:100%">
    <h1>{{userName}}</h1>
    <p class="title">CEO & Founder, {{firstname}}</p>
    <p>{{email}}</p>
    <div style="margin: 24px 0;">

        <span class="fa-stack fa-lg">
            <i class="fab fa-dribbble fa-stack-1x"></i>
          </span>
        <span class="fa-stack fa-lg">
            <i class="fab fa-twitter fa-stack-1x"></i>
          </span>
        <span class="fa-stack fa-lg">
            <i class="fab fa-linkedin fa-stack-1x"></i>
          </span>
        <span class="fa-stack fa-lg">
            <i class="fab fa-facebook fa-stack-1x"></i>
          </span>

        <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
    </div>
    <p><button>Contact</button></p>
</div>