/* body {
    color: white;
}

span {
    color: white;
}

strong {
    color: white;
}

h1,
h2,
h3.h4,
h5 {
    color: white;
}

hr {
    background-color: white;
}

li {
    color: white;
}

ul {
    color: white;
}

p {
    color: white;
}

table {
    color: white;
} */