<p style="color: white;">switch-map works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span>Ex 01 :<strong>Map</strong></span>
            <hr>
            <ul id="elContainer">

            </ul>
        </div>
        <div class="col-md-4">
            <span>Ex 02 :<strong>Map+Switch All</strong></span>
            <hr>
            <ul id="elContainer1">

            </ul>
        </div>
        <div class="col-md-4">
            <span>Ex 03 :<strong>SwitchMap</strong></span>
            <hr>
            <ul id="elContainer2">

            </ul>
        </div>
    </div>
</div>