<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="alist">UserList<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="adminlist">AdminList<span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link" routerLink="alist/update/:id">edit<span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" (click)="clearing()" href="#">Logout</a>
            </li>
        </ul>

    </div>
</nav>


<br>
<br>
<router-outlet></router-outlet>
<br>
<div class="foot">
    <app-footer></app-footer>
</div>