<h2 class="text-center">Admin login works!</h2>
<div class="container">
    <form #saveAdmin="ngForm" (ngSubmit)="onadd(saveAdmin.value)">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" ngModel name="email" required [(ngModel)]="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<!-- (click)="onadd('register/login/header') -->