<h2 class="text-center">User login works!</h2>
<div class="container">

    <form #saveUser="ngForm" (ngSubmit)="onadd(saveUser.value)" style="border: 2px solid black; padding: 10px; color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;border-style: dotted;">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" name="email" [(ngModel)]="email" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>